# Playwright
node_modules/
playwright-report/
test-results/

#Allure
allure-results/
allure-report/
# Environment and auth
.env
auth/storageState.json

# Backup files
playwright.config.original.ts
playwright.config.ts.original

# OS files
.DS_Store
Thumbs.db